.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color:white;

}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 200px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}

.card {
  transition: all 0.3s ease-in-out; 
}

.card:hover {
  transform: translateY(-1rem) scale(1.05); 
}



/* LOGIN CSS */
.outer-body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color:whitesmoke;
}
.box{
  width: 400px;
  background-color: rgb(127, 179, 150);
  box-shadow: 20px 30px 30px rgb(122, 79, 79);
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
}
.box h1{
  font-size:36px;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: 500;
}
.input-div{
 width: 100%;
 height: 50px;

  margin: 30px 0;
  
}
.input-div input{
width: 100%;
height: 100%;
background: transparent;
border: 1px solid white;
outline: none;

border-radius: 40px;

font-size: 20px;
padding: 10px 20px;


}
.input-div input:focus {
  color:white;

}
.remeber-forgot{
  display: flex;
  justify-content: space-between;
  /* padding-left: 15px;
  padding-right: 15px; */
  color: #eef2f5;
  font-size: 20px;
}
.login-submit{
  width: 100%;
  height: 100%;
 background: #6366f1;
  padding: 8px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
.register-link{
font-size: 15px;
text-align: center;
margin-top: 20px;
}
.register-link p a{
color: white;
text-decoration: none;
font-weight: 700;

}
.register-link p a:hover{
  text-decoration: underline;
  color: #4f46e5;
}




.container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color:whitesmoke;


}


.signup-form {
  width: 400px;

  background-color: rgb(127, 179, 150);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 20px 30px 30px rgb(122, 79, 79);

 
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;

}

.signup-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  color: rgb(34, 15, 15);
  font-size: 18px;
  padding-left:20px ;
}

.signup-form input:focus {
  color:white;

}

.signup-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.signup-form button:hover {
  background: #4f46e5;
}

.login-text {
  text-align: center;
  margin-top: 15px;
}

.login-text a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
    background-color: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  font-size: 30px;
  text-decoration: none;
  
  /* Transition effect */
  transition: all 0.3s ease-in-out;
}

/* Hover effect */
.whatsapp-button:hover {
  transform: scale(1.1); /* grow slightly */
  box-shadow: 0 8px 12px rgba(0,0,0,0.4); /* bigger shadow */
  background-color: #1ebe57; /* slightly darker green */
}
