.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color:white;

}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 200px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}

.card {
  transition: all 0.3s ease-in-out; 
}

.card:hover {
  transform: translateY(-1rem) scale(1.05); 
}
